ETL <br>
En esta notebook tendrán todo el proceso de extracción, transformación y carga(ETL) del dataframes steam_games.json.

In [1]:
import pandas as pd
import numpy as np
import json 
import ast

Extracción de la data proveniente del archivo json

Se crea una variable para almacenar la ruta del archivo steam_games.json para que su posterior uso ayude a tener  un codigo más legible.

In [2]:
games = "C:\\Users\\saulz\\proyecto_individual\\Dataset\\steam_games.json\\output_steam_games.json"

-Comienza la extracción de los datos para cada dataframe respectivamente. <br>
-Se crea una lista vacia para almacenar la información del archivo. <br>
-La lista se transforma en dataframes usando la libreria Pandas. <br>

In [3]:
data = []

with open (games, 'r', encoding='utf-8') as archivo_json:
    for line in archivo_json:
        json_data = json.loads(line)
        data.append(json_data)

gamesdf = pd.DataFrame(data)

Transformación de los datos. <br>
-Se realizan las siguientes transformaciones con la finalidad de tener un df menos pesado y unicamente con los datos necesarios. <br>
-Se crea una mascara para hacer más facil la corroboración de datos. <br>
-Se verifican si existen datos anidados en el df. <br>
-Se eliman las siguientes columnas: 'publisher', 'url', 'tags', 'reviews_url', 'specs', 'early_access', 'title'. <br>
-Se renombra la columna id por item_id para fijar una relación entre los otros df. <br>

#Creación de mascara para comparar la información entre columnas.

In [4]:
mascara = gamesdf['app_name'] == gamesdf ['title']
filas_mascara = gamesdf[mascara]
filas_mascara.head(5)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域
88315,Trickjump Games Ltd,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,2018-01-04,"[Action, Adventure, Simulation, FPS, Shooter, ...",http://steamcommunity.com/app/772540/reviews/?...,"[Single-player, Steam Achievements]",3.99,False,772540,Trickjump Games Ltd

Verificación de la existencia de datos anidados en el dataframe

In [5]:
if any (isinstance(valor,(list,dict,tuple))for valor in gamesdf['genres']):
    print('La columna tiene datos anidados')
else: 
    print('La columna no tiene datos anidados')

La columna tiene datos anidados

Eliminación de datos

In [6]:
eliminar_filas = [88384,90890]
gamesdf = gamesdf.drop(index= eliminar_filas)

Se procede a la eliminación de las columnas que no serán relevantes para el proceso.

In [7]:
gamesdf.drop(['publisher', 'url', 'tags', 'reviews_url', 'specs', 'early_access', 'title'], axis=1, inplace=True)
gamesdf

,genres,app_name,release_date,price,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018-01-04,1.99,773640,"Nikita ""Ghost_RUS"""
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018-01-04,4.99,733530,Sacada
120442,"[Indie, Racing, Simulation]",Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich
120443,"[Casual, Indie]",EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns"
120444,NaN,Maze Run VR,NaN,4.99,681550,NaN

Se renombra la columba id para fijar la relación

In [8]:
gamesdf.rename(columns={'id': 'item_id'}, inplace=True)
gamesdf

,genres,app_name,release_date,price,item_id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018-01-04,1.99,773640,"Nikita ""Ghost_RUS"""
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018-01-04,4.99,733530,Sacada
120442,"[Indie, Racing, Simulation]",Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich
120443,"[Casual, Indie]",EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns"
120444,NaN,Maze Run VR,NaN,4.99,681550,NaN

Creación de df dummies

In [9]:
gamesdfdummies = gamesdf.copy()

In [10]:
gamesdfdummies = gamesdfdummies.dropna(how='all')
gamesdfdummies

,genres,app_name,release_date,price,item_id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290,Poolians.com
88313,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,0.99,767400,彼岸领域
88314,NaN,Log Challenge,NaN,2.99,773570,NaN
...,...,...,...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018-01-04,1.99,773640,"Nikita ""Ghost_RUS"""
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018-01-04,4.99,733530,Sacada
120442,"[Indie, Racing, Simulation]",Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich
120443,"[Casual, Indie]",EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns"
120444,NaN,Maze Run VR,NaN,4.99,681550,NaN

In [11]:
gamesdfdummies.dropna(subset=['genres'], inplace=True)
gamesdfdummies.dropna(subset=['item_id'], inplace=True)
gamesdfdummies

,genres,app_name,release_date,price,item_id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290,Poolians.com
88313,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,0.99,767400,彼岸领域
88315,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018-01-04,3.99,772540,Trickjump Games Ltd
...,...,...,...,...,...,...
120439,"[Action, Adventure, Casual, Indie]",Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018-01-04,1.99,773640,"Nikita ""Ghost_RUS"""
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018-01-04,4.99,733530,Sacada
120442,"[Indie, Racing, Simulation]",Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich
120443,"[Casual, Indie]",EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns"

In [12]:
genres_dummies = gamesdfdummies['genres'].explode().str.get_dummies().groupby(level=0).sum()

genres_dummies = pd.concat([gamesdfdummies[['item_id']], genres_dummies], axis=1)

genres_dummies = genres_dummies.reset_index(drop=True)

genres_dummies.columns = genres_dummies.columns.str.replace('&amp;', '&')

genres_dummies

,item_id,Accounting,Action,Adventure,Animation & Modeling,Audio Production,Casual,Design & Illustration,Early Access,Education,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,761140,0,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1,643980,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
2,670290,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
3,767400,0,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,772540,0,1,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28845,745400,0,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28846,773640,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
28847,733530,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
28848,610660,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
28849,658870,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Transformación de la columna release_date en una columan tipo datetime y creación de una nueva columna year para almacenar unicamente el año de la fechad de lanzamiento

In [13]:
gamesdf_year = gamesdf.copy()

In [14]:
gamesdf_year["release_date"] = pd.to_datetime(gamesdf_year["release_date"], errors="coerce")
gamesdf_year["year"] = pd.to_datetime(gamesdf_year["release_date"]).dt.year


gamesdf_year["year"] = gamesdf_year["year"].fillna(0)
gamesdf_year["year"] = gamesdf_year["year"].astype(int)

gamesdf_year.tail(4)

,genres,app_name,release_date,price,item_id,developer,year
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018-01-04,4.99,733530,Sacada,2018
120442,"[Indie, Racing, Simulation]",Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich,2018
120443,"[Casual, Indie]",EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns",2017
120444,NaN,Maze Run VR,NaT,4.99,681550,NaN,0

Se almacena el dataframe en un archivo csv para usarlo en la etapa de EDA

In [15]:
gamesdf.to_csv('gamesdf.csv', index=False)
gamesdf_year.to_csv('gamesdf_year.csv', index=False)
genres_dummies.to_csv('genres_dummies.csv', index=False)